@{
    ViewBag.Title = "Stores";
}


<p></p>
<table cellpadding="5">
    <tr>
        <td colspan="3">
            <div class="card text-white bg-primary mb-3">
                @*<div class="card-header">C</div>*@
                <div class="card-body">
                    <h4 class="card-title">Juwel Soft</h4>
                    <p class="card-text">Ваш надежный помощник в учете материалов и заказов!</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td width="33%">
            <div class="card border-primary mb-3">
                <div class="card-header">Справочники</div>
                <div class="card-body">
                    <h4 class="card-title"><a class="card-link" href="/Home/Dictionary">Список справочников</a></h4>
                    <p class="card-text">На этой странице вы сможете просмотреть, изменить, добавить или удалить используемые материалы, операции и единицы измерения.</p>
</div>
            </div>
        </td>
        <td width="33%">

            <div class="card border-primary mb-3">
                <div class="card-header">Склады</div>
                <div class="card-body">
                    <h4 class="card-title"><a class="card-link" href="/Home/Stores">Список складов</a></h4>
                    <p class="card-text">На этой странице вы сможете просмотреть, изменить, добавить или удалить наличие материалов на ваших складах.</p>
                </div>
            </div>

        </td>
        <td width="33%">
            <div class="card border-primary mb-3">
                <div class="card-header">Изделия</div>
                <div class="card-body">
                    <h4 class="card-title"><a class="card-link" href="/Products/Index">Список изделий</a></h4>
                    <p class="card-text">На этой странице вы сможете просмотреть, изменить, добавить или удалить ваши заказы.Проверить сроки и статус выполнения.</p>
                </div>
            </div>
        </td>
    </tr>
</table>


<div>
    <div class="row">





    </div>
</div>