
@{
    ViewBag.Title = "Stores";
}


<table cellpadding="5px" align="center">
   <tr ><td colspan="2" align="center"><h2>Склады материалов</h2></td></tr>
    <tr>
        <td>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Склад металлов</div>
                <div class="card-body">
                    <h4 class="card-title"><a class="card-link" href="/MetalStores/Index">Склад металлов</a></h4>
                    <p class="card-text">На этой странице вы сможете просмотреть, изменить, добавить или удалить имеющиеся металлические материалы.</p>
                </div>
            </div>
        </td>
        <td>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Склад вставок</div>
                <div class="card-body">
                    <h4 class="card-title"><a class="card-link" href="/InsertStores/Index">Склад вставок</a></h4>
                    <p class="card-text">На этой странице вы сможете просмотреть, изменить, добавить или удалить имеющиеся вставки для ваших изделий.</p>
                </div>
            </div>
        </td>
       
    </tr>
    
</table>
