@model JuvekSoft.Models.MetalStore



@using (Html.BeginForm("AddPicture", "MetalStores", FormMethod.Post, new { enctype = "multipart / form - data" }))
{
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>Добавить фото в справочник "склад металла"</h4>
    <hr />
     @Html.ValidationSummary(true)
    @*//@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
    <fieldset>
        <div class="editor-label">Файл изображения</div>
            <div class="editor-field">
                <input type = "file" name="uploadImage" />
            </div>

            <p>
                <input type = "submit" value="Добавить" />
            </p>
        </fieldset>
       
    </div>
   

    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
}





