@model JuvekSoft.Models.Unit

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Это действие необратимо, вы уверены, что хоите удалить?</h3>
<div>
    <h4>Единица</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к справочнику", "Index")
        </div>
    }
</div>
